.btn-custom {
    color: #009688;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
    width: 23%;
}

.btn-custom:focus {
    color: black;
    background: #009688;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #009688;
}